*{
  padding: 0;
  margin: 0;
}
.header{
  height: 100%;
  background-image : linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6),url(images/banner.jpg));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header img{
  width: 170px;
  float: left;
}
.login-btn{
  width: 100px;
  padding: 8px 0;
  ""
}
